/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/
html, body {
  background-color: #444;
  height: 100%;
}

.log-name
{
    float: right;
    padding: 5px;
}

.container-fluid {
  width: 1165px;    
  margin: auto;
  height: 100%;    
  background-color: #DDD;  
  text-align: center;  
}

.info {
  font-weight: bold;
  color: green;
}

.error {
  font-weight: bold;
  color: red;
}

#changes {
  font-weight: bold;
  color: blue;
}

.control-group > input {
  width: 330px;
  margin: 0 20px;
}

.goal-group {
  width: 590px;
  margin: auto;
  text-align: center;
}

.goal-group > input {
  width: 535px;
}

.title-group {
  margin: 5px 16px;
  padding: 7px;
  text-align: left;
  font-weight: bold;
  float: left;
  width: 340px;
}

.nav nav-pills {
    text-align:center;
}

#table .delete_box {
  position: relative;
  margin-left: 20px;
}

.nav-tabs > li,
.nav-pills > li {
  width: 160px;
  float: left;
  margin: 10px 3px;
}
