/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/
html, body {
  background-color: #333;
  height: 100%;
}

.container-fluid {
  width: 900px;    
  height: 100%;
  margin: auto;
  background-color: #DDD;
}

.nav nav-pills {
    text-align:center;
}

.nav-tabs > li,
.nav-pills > li {
  width: 150px;
  float: left;

}

.container
{
    margin: auto;
    text-align: center;
}



#top
{
    /* center contents */
    text-align: center;
}

#middle
{
    /* center contents */
    text-align: center;

}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;
    
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    width: 900px; /* Ширина слоя */

    /* surround with whitespace */

    /* center contents */
    text-align: center;
}
